In [66]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import geopandas as gpd
import shapely
from sklearn.gaussian_process import GaussianProcessRegressor
from pgmpy.estimators import HillClimbSearch
from pgmpy.estimators import BicScore

In [3]:
df =  pd.read_csv('gas_grid.csv')

/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (20,23,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,Unnamed: 0,Call Number,Unit ID,Incident Number,Call Type,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm,...,Fire Prevention District,Supervisor District,Neighborhooods - Analysis Boundaries,Location,RowID,lat,long,lonlat,geometry,FID
0,0,1050242,E12,31236,Gas Leak (Natural and LP Gases),4/14/00,4/14/00,4/14/00 16:58,4/14/00 16:59,4/14/00 17:01,...,5,7,Inner Sunset,"(37.7633165969878, -122.458205988587)",001050242-E12,37.763317,-122.458206,"(-122.458205988587, 37.7633165969878)",POINT (-122.458205988587 37.7633165969878),286.0
1,1,1050319,E44,31311,Gas Leak (Natural and LP Gases),4/14/00,4/14/00,4/14/00 20:34,4/14/00 20:34,4/14/00 20:35,...,9,10,Visitacion Valley,"(37.7096032041108, -122.409888540797)",001050319-E44,37.709603,-122.409889,"(-122.409888540797, 37.7096032041108)",POINT (-122.409888540797 37.7096032041108),551.0
2,2,1070275,E17,31946,Gas Leak (Natural and LP Gases),4/16/00,4/16/00,4/16/00 20:38,4/16/00 20:39,4/16/00 20:39,...,10,10,Bayview Hunters Point,"(37.7291935618432, -122.374002352858)",001070275-E17,37.729194,-122.374002,"(-122.374002352858, 37.7291935618432)",POINT (-122.374002352858 37.7291935618432),731.0
3,3,1080336,E17,32305,Gas Leak (Natural and LP Gases),4/17/00,4/17/00,4/17/00 22:08,4/17/00 22:09,4/17/00 22:09,...,10,10,Bayview Hunters Point,"(37.7262373966555, -122.393902508468)",001080336-E17,37.726237,-122.393903,"(-122.393902508468, 37.7262373966555)",POINT (-122.393902508468 37.7262373966555),616.0
4,4,1090191,E40,32517,Gas Leak (Natural and LP Gases),4/18/00,4/18/00,4/18/00 16:44,4/18/00 16:45,4/18/00 16:46,...,8,4,Sunset/Parkside,"(37.7617311116621, -122.47754025709)",001090191-E40,37.761731,-122.477540,"(-122.47754025709, 37.7617311116621)",POINT (-122.47754025709 37.7617311116621),194.0

In [5]:
df.shape

(17312, 40)

In [6]:
df['datetime'] = pd.to_datetime(df['Received DtTm'])

In [7]:
df['year'] = df['datetime'].dt.year
df['hour'] = df['datetime'].dt.hour
df['day'] = df['datetime'].dt.day
df['month'] = df['datetime'].dt.month
df['week'] = df['datetime'].dt.weekday

In [8]:
df['week2'] = df['week'].apply(lambda x: int(x)/5)

In [9]:
df['month2'] = (df['year']-2000)*12+df['month']

In [10]:
df['season'] = df['month'].apply(lambda x: int(x)/3)
df['season'] = df['season'].replace(0, 4)

In [11]:
df['Lat'] = df.Location.apply(lambda x: float(x.strip( '()' ).split(",")[0]))
df['Lon'] = df.Location.apply(lambda x: float(x.strip( '()' ).split(",")[1]))

In [12]:
df = df[['Call Number','Incident Number','datetime','year','hour','day','month','week','season','Lat','Lon','FID']]

In [13]:
df.head()

,Call Number,Incident Number,datetime,year,hour,day,month,week,season,Lat,Lon,FID
0,1050242,31236,2000-04-14 16:58:00,2000,16,14,4,4,1,37.763317,-122.458206,286.0
1,1050319,31311,2000-04-14 20:34:00,2000,20,14,4,4,1,37.709603,-122.409889,551.0
2,1070275,31946,2000-04-16 20:38:00,2000,20,16,4,6,1,37.729194,-122.374002,731.0
3,1080336,32305,2000-04-17 22:08:00,2000,22,17,4,0,1,37.726237,-122.393903,616.0
4,1090191,32517,2000-04-18 16:44:00,2000,16,18,4,1,1,37.761731,-122.477540,194.0

In [14]:
df.shape

(17312, 12)

In [15]:
len(df['FID'].unique())

554

In [16]:
df = df[~((df['Lat'] > 37.807070) & (df['Lon'] > -122.379489))]
df.shape

(17153, 12)

In [17]:
#dorp duplicate
df['Incident Number'].unique().shape
df = df.drop_duplicates('Incident Number')
df.reset_index(inplace=True, drop=True) 
df.head()

,Call Number,Incident Number,datetime,year,hour,day,month,week,season,Lat,Lon,FID
0,1050242,31236,2000-04-14 16:58:00,2000,16,14,4,4,1,37.763317,-122.458206,286.0
1,1050319,31311,2000-04-14 20:34:00,2000,20,14,4,4,1,37.709603,-122.409889,551.0
2,1070275,31946,2000-04-16 20:38:00,2000,20,16,4,6,1,37.729194,-122.374002,731.0
3,1080336,32305,2000-04-17 22:08:00,2000,22,17,4,0,1,37.726237,-122.393903,616.0
4,1090191,32517,2000-04-18 16:44:00,2000,16,18,4,1,1,37.761731,-122.477540,194.0

In [18]:
df.shape

(8526, 12)

In [19]:
len(df['FID'].unique())

553

In [20]:
df[df['FID'].isnull()]

,Call Number,Incident Number,datetime,year,hour,day,month,week,season,Lat,Lon,FID
1309,32900228,3083237,2003-10-17 14:22:00,2003,14,17,10,4,3,37.700091,-122.414099,NaN
2542,70570351,7016778,2007-02-26 21:47:00,2007,21,26,2,0,4,37.703080,-122.454856,NaN
2870,80390418,8012455,2008-02-08 20:22:00,2008,20,8,2,4,4,37.704881,-122.408989,NaN
4205,110580134,11019046,2011-02-27 09:57:00,2011,9,27,2,6,4,37.706248,-122.413350,NaN
4435,112550063,11084038,2011-09-12 08:19:00,2011,8,12,9,0,3,37.707091,-122.449290,NaN

In [21]:
df = df[~(df['FID'].isnull())]

In [22]:
df['FID'] = df['FID'].astype(int)

In [23]:
df['Row'] = df['FID']%23 +1
df['Col'] = df['FID']/23 +1

In [24]:
df.head()

,Call Number,Incident Number,datetime,year,hour,day,month,week,season,Lat,Lon,FID,Row,Col
0,1050242,31236,2000-04-14 16:58:00,2000,16,14,4,4,1,37.763317,-122.458206,286,11,13.434783
1,1050319,31311,2000-04-14 20:34:00,2000,20,14,4,4,1,37.709603,-122.409889,551,23,24.956522
2,1070275,31946,2000-04-16 20:38:00,2000,20,16,4,6,1,37.729194,-122.374002,731,19,32.782609
3,1080336,32305,2000-04-17 22:08:00,2000,22,17,4,0,1,37.726237,-122.393903,616,19,27.782609
4,1090191,32517,2000-04-18 16:44:00,2000,16,18,4,1,1,37.761731,-122.477540,194,11,9.434783

In [25]:
df['Col'] = df['Col'].apply(lambda x: int(x))

In [26]:
#split by year
df2010 = df[df['year'] >= 2010]  #df after 2010

In [27]:
df2000 = df[df['year'] < 2010]  #df before 2010

In [28]:
df2010.shape

(4888, 14)

In [29]:
df2000.shape

(3633, 14)

In [30]:
df2010_anodf = df2010.groupby(['Row','Col']).count()
#df_ = df.groupby(['FID','month']).size().reset_index()
df2010_anodf.head(2)

         Call Number  Incident Number  datetime  year  hour  day  month  week  \
Row Col
1   9              2                2         2     2     2    2      2     2
    10             1                1         1     1     1    1      1     1

         season  Lat  Lon  FID
Row Col
1   9         2    2    2    2
    10        1    1    1    1

In [31]:
df2010_anodf.reset_index(inplace=True)

In [32]:
df2010_anodf = df2010_anodf.iloc[:,:3]

In [34]:
addf_fid = df.groupby(['FID']).size().reset_index()

In [35]:
addf_fid.columns = ['FID','NumEvents']
addf_fid.head()

   FID  NumEvents
0    7          3
1    8         13
2    9          1
3   10          3
4   29          2

In [36]:
len(addf_fid.FID.unique())

552

In [37]:
df_ = df.groupby(['FID','month']).size().reset_index()
df_.columns = ['FID','month','NumEvents']

In [38]:
df_.shape

(3877, 3)

In [39]:
df_['NumEvents'].describe()

count    3877.000000
mean        2.197833
std         1.652254
min         1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max        15.000000
Name: NumEvents, dtype: float64

In [42]:
#match feature names
name = pd.read_csv('name_dictionary.csv')
name

,Unnamed: 0,aland10,awater10,countyfp10,tractce10,mtfcc10,name10,namelsad10,intptlon10,funcstat10,...,Estimate; Renter-occupied housing units: - High school graduate (including equivalency)_education,Estimate; Renter-occupied housing units: - Some college or associate's degree_education,Estimate; Renter-occupied housing units: - Bachelor's degree or higher_education,Estimate; Total:_tenure_kitchen,Estimate; Owner occupied:_tenure_kitchen,Estimate; Owner occupied: - Complete kitchen facilities_tenure_kitchen,Estimate; Owner occupied: - Lacking complete kitchen facilities_tenure_kitchen,Estimate; Renter occupied:_tenure_kitchen,Estimate; Renter occupied: - Complete kitchen facilities_tenure_kitchen,Estimate; Renter occupied: - Lacking complete kitchen facilities_tenure_kitchen
0,0,370459.0,0.0,75,16500,G5020,165.00,Census Tract 165,-122.447788,S,...,91.0,439.0,1273.0,2370.0,515.0,515.0,0.0,1855.0,1841.0,14.0
1,1,309097.0,0.0,75,16400,G5020,164.00,Census Tract 164,-122.436973,S,...,120.0,310.0,1062.0,1873.0,334.0,334.0,0.0,1539.0,1539.0,0.0
2,2,245867.0,0.0,75,16300,G5020,163.00,Census Tract 163,-122.429551,S,...,232.0,311.0,999.0,1971.0,377.0,377.0,0.0,1594.0,1473.0,121.0
3,3,368901.0,0.0,75,16100,G5020,161.00,Census Tract 161,-122.428663,S,...,656.0,471.0,886.0,2680.0,175.0,175.0,0.0,2505.0,2475.0,30.0
4,4,158236.0,0.0,75,16000,G5020,160.00,Census Tract 160,-122.422484,S,...,146.0,271.0,581.0,1578.0,443.0,443.0,0.0,1135.0,1108.0,27.0
5,5,295388.0,0.0,75,15900,G5020,159.00,Census Tract 159,-122.429343,S,...,59.0,739.0,909.0,2315.0,481.0,481.0,0.0,1834.0,1776.0,58.0
6,6,836550.0,0.0,75,15700,G5020,157.00,Census Tract 157,-122.448007,S,...,180.0,383.0,1153.0,2483.0,688.0,624.0,64.0,1795.0,1795.0,0.0
7,7,293492.0,0.0,75,15600,G5020,156.00,Census Tract 156,-122.456425,S,...,81.0,203.0,552.0,1288.0,449.0,449.0,0.0,839.0,839.0,0.0
8,8,312624.0,0.0,75,15500,G5020,155.00,Census Tract 155,-122.434135,S,...,232.0,486.0,1208.0,2335.0,202.0,187.0,15.0,2133.0,1915.0,218.0
9,9,719856.0,0.0,75,15400,G5020,154.00,Census Tract 154,-122.451036,S,...,78.0,346.0,1590.0,2913.0,804.0,804.0,0.0,2109.0,2062.0,47.0
10,10,233719.0,0.0,75,15300,G5020,153.00,Census Tract 153,-122.439335,S,...,33.0,120.0,469.0,948.0,315.0,315.0,0.0,633.0,603.0,30.0
11,11,279195.0,0.0,75,15200,G5020,152.00,Census Tract 152,-122.430267,S,...,141.0,340.0,1158.0,2281.0,544.0,544.0,0.0,1737.0,1724.0,13.0
12,12,174315.0,0.0,75,15100,G5020,151.00,Census Tract 151,-122.423401,S,...,32.0,166.0,788.0,1485.0,499.0,489.0,10.0,986.0,874.0,112.0
13,13,235184.0,0.0,75,13500,G5020,135.00,Census Tract 135,-122.432555,S,...,53.0,157.0,1122.0,1669.0,298.0,298.0,0.0,1371.0,1363.0,8.0
14,14,354173.0,0.0,75,13400,G5020,134.00,Census Tract 134,-122.440799,S,...,165.0,234.0,947.0,1895.0,538.0,538.0,0.0,1357.0,1346.0,11.0
15,15,581310.0,0.0,75,13300,G5020,133.00,Census Tract 133,-122.452429,S,...,74.0,125.0,693.0,1859.0,926.0,926.0,0.0,933.0,914.0,19.0
16,16,546680.0,0.0,75,13200,G5020,132.00,Census Tract 132,-122.438746,S,...,35.0,117.0,1195.0,2433.0,1086.0,1086.0,0.0,1347.0,1347.0,0.0
17,17,366103.0,0.0,75,13000,G5020,130.00,Census Tract 130,-122.430512,S,...,138.0,83.0,1354.0,2368.0,711.0,711.0,0.0,1657.0,1582.0,75.0
18,18,0.0,70939181.0,75,990100,G5020,9901.00,Census Tract 9901,-122.551862,S,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,19,497841.0,0.0,75,12800,G5020,128.00,Census Tract 128,-122.441747,S,...,57.0,256.0,1092.0,2338.0,908.0,908.0,0.0,1430.0,1430.0,0.0
20,20,434518.0,222050.0,75,12700,G5020,127.00,Census Tract 127,-122.444718,S,...,130.0,179.0,1192.0,2101.0,587.0,587.0,0.0,1514.0,1470.0,44.0
21,21,123393.0,0.0,75,12100,G5020,121.00,Census Tract 121,-122.411888,S,...,233.0,617.0,1115.0,2134.0,96.0,81.0,15.0,2038.0,1909.0,129.0
22,22,124978.0,0.0,75,12000,G5020,120.00,Census Tract 120,-122.418521,S,...,424.0,689.0,1168.0,2526.0,52.0,38.0,14.0,2474.0,2033.0,441.0
23,23,56564.0,0.0,75,11800,G5020,118.00,Census Tract 118,-122.406165,S,...,146.0,95.0,116.0,694.0,11.0,11.0,0.0,683.0,405.0,278.0
24,24,556044.0,0.0,75,11700,G5020,117.00,Census Tract 117,-122.403486,S,...,235.0,259.0,237.0,922.0,69.0,69.0,0.0,853.0,584.0,269.0
25,25,102297.0,0.0,75,11300,G5020,113.00,Census Tract 113,-122.409349,S,...,96.0,136.0,300.0,1554.0,183.0,183.0,0.0,1371.0,1166.0,205.0
26,26,177414.0,0.0,75,11200,G5020,112.00,Census Tract 112,-122.412733,S,...,40.0,332.0,614.0,1609.0,470.0,462.0,8.0,1139.0,1066.0,73.0
27,27,246649.0,0.0,75,11100,G5020,111.00,Census Tract 111,-122.419076,S,...,172.0,548.0,1668.0,2909.0,305.0,305.0,0.0,2604.0,2386.0,218.0
28,28,239937.0,0.0,75,11000,G5020,110.00,Census Tract 110,-122.419805,S,...,352.0,436.0,1243.0,2675.0,300.0,300.0,0.0,2375.0,2216.0,159.0
29,29,249763.0,0.0,75,10900,G5020,109.00,Census Tract 109,-122.420553,S,...,157.0,190.0,1640.0,2737.0,655.0,655.0,0.0,2082.0,1983.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,167,282080.0,0.0,75,22803,G5020,228.03,Census Tract 228.03,-122.412084,S,...,211.0,232.0,561.0,1542.0,294.0,294.0,0.0,1248.0,1233.0,15.0
168,168,249200.0,0.0,75,22901,G5020,229.01,Census Tract 229.01,-122.413945,S,...,299.0,178.0,406.0,1376.0,350.0,350.0,0.0,1026.0,1026.0,0.0
169,169,578307.0,0.0,75,22801,G5020,228.01,Census Tract 228.01,-122.412509,S,...,147.0,185.0,520.0,1757.0,739.0,739.0,0.0,1018.0,942.0,76.0
170,170,283840.0,0.0,75,22702,G5020,227.02,Census Tract 227.02,-122.395606,S,...,7.0,98.0,496.0,994.0,393.0,393.0,0.0,601.0,597.0,4.0
171,171,1357761.0,503898.0,75,22600,G5020,226.00,Census Tract 226,-122.383560,S,...,15.0,78.0,233.0,826.0,495.0,495.0,0.0,331.0,317.0,14.0
172,172,501350.0,0.0,75,21800,G5020,218.00,Census Tract 218,-122.429099,S,...,56.0,164.0,575.0,1901.0,1082.0,1082.0,0.0,819.0,819.0,0.0
173,173,1230146.0,0.0,75,21700,G5020,217.00,Census Tract 217,-122.439271,S,...,81.0,128.0,333.0,1841.0,1214.0,1214.0,0.0,627.0,604.0,23.0
174,174,597984.0,0.0,75,21600,G5020,216.00,Census Tract 216,-122.438142,S,...,27.0,203.0,461.0,2040.0,1313.0,1313.0,0.0,727.0,727.0,0.0
175,175,494467.0,0.0,75,21500,G5020,215.00,Census Tract 215,-122.426705,S,...,82.0,236.0,900.0,2517.0,1170.0,1170.0,0.0,1347.0,1333.0,14.0
176,176,353694.0,0.0,75,21400,G5020,214.00,Census Tract 214,-122.429405,S,...,0.0,155.0,819.0,1710.0,726.0,726.0,0.0,984.0,984.0,0.0
177,177,312306.0,0.0,75,21300,G5020,213.00,Census Tract 213,-122.438468,S,...,48.0,70.0,438.0,1201.0,645.0,645.0,0.0,556.0,539.0,17.0
178,178,345793.0,0.0,75,21200,G5020,212.00,Census Tract 212,-122.438126,S,...,42.0,131.0,387.0,1415.0,855.0,855.0,0.0,560.0,560.0,0.0
179,179,424317.0,0.0,75,21100,G5020,211.00,Census Tract 211,-122.429814,S,...,25.0,51.0,782.0,1880.0,992.0,949.0,43.0,888.0,888.0,0.0
180,180,312413.0,0.0,75,21000,G5020,210.00,Census Tract 210,-122.422849,S,...,44.0,268.0,967.0,2051.0,693.0,635.0,58.0,1358.0,1358.0,0.0
181,181,312899.0,0.0,75,20900,G5020,209.00,Census Tract 209,-122.418413,S,...,236.0,417.0,626.0,1797.0,254.0,254.0,0.0,1543.0,1460.0,83.0
182,182,346098.0,0.0,75,20800,G5020,208.00,Census Tract 208,-122.419149,S,...,376.0,414.0,770.0,2441.0,390.0,390.0,0.0,2051.0,1942.0,109.0
183,183,347995.0,0.0,75,20700,G5020,207.00,Census Tract 207,-122.423559,S,...,107.0,140.0,1477.0,2810.0,931.0,931.0,0.0,1879.0,1879.0,0.0
184,184,566490.0,0.0,75,20600,G5020,206.00,Census Tract 206,-122.430350,S,...,178.0,133.0,1084.0,2451.0,1026.0,1026.0,0.0,1425.0,1412.0,13.0
185,185,276920.0,0.0,75,20500,G5020,205.00,Census Tract 205,-122.437030,S,...,66.0,198.0,474.0,1289.0,528.0,528.0,0.0,761.0,761.0,0.0
186,186,286072.0,0.0,75,20300,G5020,203.00,Census Tract 203,-122.429437,S,...,19.0,195.0,853.0,1618.0,506.0,506.0,0.0,1112.0,1112.0,0.0
187,187,338342.0,0.0,75,20200,G5020,202.00,Census Tract 202,-122.424179,S,...,274.0,550.0,1352.0,2936.0,577.0,565.0,12.0,2359.0,2312.0,47.0
188,188,937025.0,0.0,75,18000,G5020,180.00,Census Tract 180,-122.402276,S,...,72.0,159.0,446.0,1368.0,584.0,584.0,0.0,784.0,774.0,10.0
189,189,2720913.0,123838689.0,75,17902,G5020,179.02,Census Tract 179.02,-122.419701,S,...,87.0,297.0,187.0,629.0,0.0,0.0,0.0,629.0,610.0,19.0
190,190,903361.0,0.0,75,17700,G5020,177.00,Census Tract 177,-122.412487,S,...,43.0,89.0,294.0,653.0,157.0,157.0,0.0,496.0,487.0,9.0
191,191,445726.0,0.0,75,20100,G5020,201.00,Census Tract 201,-122.420001,S,...,342.0,412.0,645.0,2702.0,634.0,634.0,0.0,2068.0,1535.0,533.0
192,192,631206.0,0.0,75,17601,G5020,176.01,Census Tract 176.01,-122.410724,S,...,743.0,935.0,904.0,3438.0,406.0,406.0,0.0,3032.0,2228.0,804.0
193,193,469526.0,0.0,75,17000,G5020,170.00,Census Tract 170,-122.439498,S,...,16.0,57.0,806.0,2114.0,1235.0,1235.0,0.0,879.0,879.0,0.0
194,194,294192.0,0.0,75,16900,G5020,169.00,Census Tract 169,-122.432478,S,...,122.0,250.0,839.0,1699.0,418.0,418.0,0.0,1281.0,1272.0,9.0
195,195,490693.0,0.0,75,16700,G5020,167.00,Census Tract 167,-122.437736,S,...,29.0,216.0,1386.0,2348.0,704.0,704.0,0.0,1644.0,1632.0,12.0
196,196,343168.0,0.0,75,16600,G5020,166.00,Census Tract 166,-122.447454,S,...,65.0,570.0,1426.0,2534.0,420.0,420.0,0.0,2114.0,2100.0,14.0

In [43]:
name.shape

(197, 86)

In [44]:
name.iloc[:,67].head(2)  # total income

0    104083.0
1    100859.0
Name: Estimate; Total:_income, dtype: float64

In [321]:
sfshp.iloc[:,3:-2].loc[:,name.columns[14::].map(lambda x:'income' in x).values]

       meanEsti53
0    140556.00000
1    111806.00000
2    111806.00000
3     83056.00000
4     76480.00000
5     76480.00000
6     78659.00000
7     83036.50000
8     89395.46907
9     95734.93814
10    81661.31271
11    74624.50000
12    74079.00000
13    80268.50000
14    91096.46907
15    91096.46907
16    85105.97938
17    84429.96907
18    84429.96907
19    84429.96907
20    84429.96907
21    84429.96907
22    95734.93814
23   140556.00000
24   140556.00000
25   111806.00000
26    83056.00000
27    76480.00000
28    69904.00000
29    78659.00000
..            ...
752   37037.66667
753   45566.50000
754   66806.00000
755   66806.00000
756   66806.00000
757   76528.00000
758   76528.00000
759   24327.00000
760   24327.00000
761   24327.00000
762   24327.00000
763   24327.00000
764   24327.00000
765   24327.00000
766   24327.00000
767   24327.00000
768   24327.00000
769   24327.00000
770   24327.00000
771   24327.00000
772   24327.00000
773   24327.00000
774   24327.00000
775   45566.50000
776   45566.50000
777   66806.00000
778   66806.00000
779   66806.00000
780   66806.00000
781   76528.00000

[782 rows x 1 columns]

In [213]:
features.iloc[:,65:66] # total income

        Estimate53
0    104083.000000
1    100859.000000
2     50714.000000
3     32411.000000
4    100705.000000
5     49679.000000
6    132589.000000
7    103828.000000
8     46452.000000
9    116983.000000
10   160521.000000
11   132120.000000
12   116490.000000
13   170486.000000
14   195972.000000
15   204896.000000
16   229063.000000
17   146667.000000
18    95734.938144
19   174474.000000
20   215938.000000
21    42589.000000
22    34211.000000
23    25493.000000
24    36406.000000
25    30391.000000
26   120833.000000
27    61205.000000
28    44944.000000
29   126932.000000
..             ...
167   55625.000000
168   57281.000000
169  101058.000000
170  185313.000000
171  171563.000000
172  160625.000000
173  141094.000000
174  102188.000000
175  117591.000000
176  140924.000000
177  166607.000000
178  203611.000000
179  181354.000000
180   87908.000000
181   57243.000000
182   45083.000000
183  114276.000000
184  243800.000000
185  123750.000000
186  126406.000000
187   41150.000000
188  205100.000000
189   24327.000000
190   47417.000000
191   45541.000000
192   34318.000000
193  149357.000000
194  138750.000000
195  147065.000000
196  120231.000000

[197 rows x 1 columns]

In [46]:
features = gpd.GeoDataFrame.from_file('San_Francisco_shape_file/sf.shp')
features

,aland10,awater10,countyfp10,tractce10,mtfcc10,name10,namelsad10,intptlon10,funcstat10,intptlat10,...,Estimate63,Estimate64,Estimate65,Estimate66,Estimate67,Estimate68,Estimate69,Estimate70,Estimate71,geometry
0,370459.0,0.0,075,016500,G5020,165,Census Tract 165,-122.4477884,S,+37.7741958,...,439,1273,2370,515,515,0,1855,1841,14,"POLYGON ((-122.446471 37.775802, -122.44478 37..."
1,309097.0,0.0,075,016400,G5020,164,Census Tract 164,-122.4369729,S,+37.7750995,...,310,1062,1873,334,334,0,1539,1539,0,"POLYGON ((-122.44034 37.77658, -122.439844 37...."
2,245867.0,0.0,075,016300,G5020,163,Census Tract 163,-122.4295509,S,+37.7760456,...,311,999,1971,377,377,0,1594,1473,121,"POLYGON ((-122.429152 37.778007, -122.428909 3..."
3,368901.0,0.0,075,016100,G5020,161,Census Tract 161,-122.4286631,S,+37.7799831,...,471,886,2680,175,175,0,2505,2475,30,"POLYGON ((-122.428909 37.778039, -122.429152 3..."
4,158236.0,0.0,075,016000,G5020,160,Census Tract 160,-122.4224838,S,+37.7823363,...,271,581,1578,443,443,0,1135,1108,27,"POLYGON ((-122.420425 37.780583, -122.420336 3..."
5,295388.0,0.0,075,015900,G5020,159,Census Tract 159,-122.4293428,S,+37.7833400,...,739,909,2315,481,481,0,1834,1776,58,"POLYGON ((-122.432329 37.781428, -122.433251 3..."
6,836550.0,0.0,075,015700,G5020,157,Census Tract 157,-122.4480069,S,+37.7789154,...,383,1153,2483,688,624,64,1795,1795,0,"POLYGON ((-122.441678 37.777373, -122.441634 3..."
7,293492.0,0.0,075,015600,G5020,156,Census Tract 156,-122.4564254,S,+37.7782427,...,203,552,1288,449,449,0,839,839,0,"POLYGON ((-122.454683 37.774755, -122.455253 3..."
8,312624.0,0.0,075,015500,G5020,155,Census Tract 155,-122.4341350,S,+37.7850923,...,486,1208,2335,202,187,15,2133,1915,218,"POLYGON ((-122.432914 37.784355, -122.43297 37..."
9,719856.0,0.0,075,015400,G5020,154,Census Tract 154,-122.4510358,S,+37.7843608,...,346,1590,2913,804,804,0,2109,2062,47,"POLYGON ((-122.44337 37.785759, -122.443183 37..."
10,233719.0,0.0,075,015300,G5020,153,Census Tract 153,-122.4393346,S,+37.7867618,...,120,469,948,315,315,0,633,603,30,"POLYGON ((-122.434918 37.785876, -122.436557 3..."
11,279195.0,0.0,075,015200,G5020,152,Census Tract 152,-122.4302666,S,+37.7879139,...,340,1158,2281,544,544,0,1737,1724,13,"POLYGON ((-122.432271 37.786212, -122.433272 3..."
12,174315.0,0.0,075,015100,G5020,151,Census Tract 151,-122.4234011,S,+37.7874457,...,166,788,1485,499,489,10,986,874,112,"POLYGON ((-122.421193 37.78475299999999, -122...."
13,235184.0,0.0,075,013500,G5020,135,Census Tract 135,-122.4325551,S,+37.7908976,...,157,1122,1669,298,298,0,1371,1363,8,"POLYGON ((-122.433019 37.789011, -122.43384 37..."
14,354173.0,0.0,075,013400,G5020,134,Census Tract 134,-122.4407990,S,+37.7898490,...,234,947,1895,538,538,0,1357,1346,11,"POLYGON ((-122.435486 37.788697, -122.437129 3..."
15,581310.0,0.0,075,013300,G5020,133,Census Tract 133,-122.4524293,S,+37.7887307,...,125,693,1859,926,926,0,933,914,19,"POLYGON ((-122.445589 37.788364, -122.445402 3..."
16,546680.0,0.0,075,013200,G5020,132,Census Tract 132,-122.4387455,S,+37.7936676,...,117,1195,2433,1086,1086,0,1347,1347,0,"POLYGON ((-122.430065 37.795273, -122.429989 3..."
17,366103.0,0.0,075,013000,G5020,130,Census Tract 130,-122.4305121,S,+37.7972449,...,83,1354,2368,711,711,0,1657,1582,75,"POLYGON ((-122.42448 37.796578, -122.42525 37...."
18,0.0,70939181.0,075,990100,G5020,9901,Census Tract 9901,-122.5518622,S,+37.7621600,...,0,0,0,0,0,0,0,0,0,"POLYGON ((-122.584588 37.815228, -122.550886 3..."
19,497841.0,0.0,075,012800,G5020,128,Census Tract 128,-122.4417466,S,+37.7978099,...,256,1092,2338,908,908,0,1430,1430,0,"POLYGON ((-122.437138 37.796879, -122.43695 37..."
20,434518.0,222050.0,075,012700,G5020,127,Census Tract 127,-122.4447181,S,+37.8049898,...,179,1192,2101,587,587,0,1514,1470,44,"POLYGON ((-122.441368 37.801126, -122.441177 3..."
21,123393.0,0.0,075,012100,G5020,121,Census Tract 121,-122.4118881,S,+37.7888066,...,617,1115,2134,96,81,15,2038,1909,129,"POLYGON ((-122.413728 37.789529, -122.412186 3..."
22,124978.0,0.0,075,012000,G5020,120,Census Tract 120,-122.4185205,S,+37.7879651,...,689,1168,2526,52,38,14,2474,2033,441,"POLYGON ((-122.415372 37.78932, -122.415185 37..."
23,56564.0,0.0,075,011800,G5020,118,Census Tract 118,-122.4061645,S,+37.7933506,...,95,116,694,11,11,0,683,405,278,"POLYGON ((-122.404418 37.792639, -122.405654 3..."
24,556044.0,0.0,075,011700,G5020,117,Census Tract 117,-122.4034859,S,+37.7904674,...,259,237,922,69,69,0,853,584,269,"POLYGON ((-122.407869 37.790275, -122.4075 37...."
25,102297.0,0.0,075,011300,G5020,113,Census Tract 113,-122.4093492,S,+37.7946971,...,136,300,1554,183,183,0,1371,1166,205,"POLYGON ((-122.407536 37.792249, -122.408089 3..."
26,177414.0,0.0,075,011200,G5020,112,Census Tract 112,-122.4127333,S,+37.7929713,...,332,614,1609,470,462,8,1139,1066,73,"POLYGON ((-122.414648 37.79411, -122.414476 37..."
27,246649.0,0.0,075,011100,G5020,111,Census Tract 111,-122.4190760,S,+37.7907445,...,548,1668,2909,305,305,0,2604,2386,218,"POLYGON ((-122.415559 37.790254, -122.415372 3..."
28,239937.0,0.0,075,011000,G5020,110,Census Tract 110,-122.4198054,S,+37.7943823,...,436,1243,2675,300,300,0,2375,2216,159,"POLYGON ((-122.416292 37.793892, -122.416113 3..."
29,249763.0,0.0,075,010900,G5020,109,Census Tract 109,-122.4205531,S,+37.7980418,...,190,1640,2737,655,655,0,2082,1983,99,"POLYGON ((-122.417349 37.799127, -122.417312 3..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,282080.0,0.0,075,022803,G5020,228.03,Census Tract 228.03,-122.4120842,S,+37.7558368,...,232,561,1542,294,294,0,1248,1233,15,"POLYGON ((-122.407602 37.756109, -122.407449 3..."
168,249200.0,0.0,075,022901,G5020,229.01,Census Tract 229.01,-122.4139453,S,+37.7511975,...,178,406,1376,350,350,0,1026,1026,0,"POLYGON ((-122.412589 37.74832200000001, -122...."
169,578307.0,0.0,075,022801,G5020,228.01,Census Tract 228.01,-122.4125093,S,+37.7607261,...,185,520,1757,739,739,0,1018,942,76,"POLYGON ((-122.409393 37.76436899999999, -122...."
170,283840.0,0.0,075,022702,G5020,227.02,Census Tract 227.02,-122.3956056,S,+37.7625436,...,98,496,994,393,393,0,601,597,4,"POLYGON ((-122.392494 37.760245, -122.393365 3..."
171,1357761.0,503898.0,075,022600,G5020,226,Census Tract 226,-122.3835595,S,+37.7624790,...,78,233,826,495,495,0,331,317,14,"POLYGON ((-122.390918 37.76679499999999, -122...."
172,501350.0,0.0,075,021800,G5020,218,Census Tract 218,-122.4290987,S,+37.7379520,...,164,575,1901,1082,1082,0,819,819,0,"POLYGON ((-122.429271 37.73797, -122.428726 37..."
173,1230146.0,0.0,075,021700,G5020,217,Census Tract 217,-122.4392706,S,+37.7402780,...,128,333,1841,1214,1214,0,627,604,23,"POLYGON ((-122.428726 37.738326, -122.429271 3..."
174,597984.0,0.0,075,021600,G5020,216,Census Tract 216,-122.4381417,S,+37.7454964,...,203,461,2040,1313,1313,0,727,727,0,"POLYGON ((-122.433697 37.747297, -122.432129 3..."
175,494467.0,0.0,075,021500,G5020,215,Census Tract 215,-122.4267050,S,+37.7450512,...,236,900,2517,1170,1170,0,1347,1333,14,"POLYGON ((-122.422369 37.744959, -122.422439 3..."
176,353694.0,0.0,075,021400,G5020,214,Census Tract 214,-122.4294049,S,+37.7495758,...,155,819,1710,726,726,0,984,984,0,"POLYGON ((-122.431774 37.747413, -122.432129 3..."
177,312306.0,0.0,075,021300,G5020,213,Census Tract 213,-122.4384676,S,+37.7492646,...,70,438,1201,645,645,0,556,539,17,"POLYGON ((-122.433697 37.747297, -122.434383 3..."
178,345793.0,0.0,075,021200,G5020,212,Census Tract 212,-122.4381261,S,+37.7531762,...,131,387,1415,855,855,0,560,560,0,"POLYGON ((-122.434163 37.752092, -122.43409 37..."
179,424317.0,0.0,075,021100,G5020,211,Census Tract 211,-122.4298144,S,+37.7539700,...,51,782,1880,992,949,43,888,888,0,"POLYGON ((-122.426333 37.751771, -122.427437 3..."
180,312413.0,0.0,075,021000,G5020,210,Census Tract 210,-122.4228490,S,+37.7515789,...,268,967,2051,693,635,58,1358,1358,0,"POLYGON ((-122.420279 37.748125, -122.42047 37..."
181,312899.0,0.0,075,020900,G5020,209,Census Tract 209,-122.4184125,S,+37.7518186,...,417,626,1797,254,254,0,1543,1460,83,"POLYGON ((-122.419171 37.748179, -122.420139 3..."
182,346098.0,0.0,075,020800,G5020,208,Census Tract 208,-122.4191487,S,+37.7594331,...,414,770,2441,390,390,0,2051,1942,109,"POLYGON ((-122.420964 37.755295, -122.421041 3..."
183,347995.0,0.0,075,020700,G5020,207,Census Tract 207,-122.4235588,S,+37.7591680,...,140,1477,2810,931,931,0,1879,1879,0,"POLYGON ((-122.421435 37.755268, -122.423181 3..."
184,566490.0,0.0,075,020600,G5020,206,Census Tract 206,-122.4303496,S,+37.7595628,...,133,1084,2451,1026,1026,0,1425,1412,13,"POLYGON ((-122.425689 37.75743, -122.425605 37..."
185,276920.0,0.0,075,020500,G5020,205,Census Tract 205,-122.4370296,S,+37.7591285,...,198,474,1289,528,528,0,761,761,0,"POLYGON ((-122.439337 37.76062700000001, -122...."
186,286072.0,0.0,075,020300,G5020,203,Census Tract 203,-122.4294368,S,+37.7649411,...,195,853,1618,506,506,0,1112,1112,0,"POLYGON ((-122.426228 37.763031, -122.427167 3..."
187,338342.0,0.0,075,020200,G5020,202,Census Tract 202,-122.4241789,S,+37.7671163,...,550,1352,2936,577,565,12,2359,2312,47,"POLYGON ((-122.42214 37.767531, -122.422122 37..."
188,937025.0,0.0,075,018000,G5020,180,Census Tract 180,-122.4022764,S,+37.7753304,...,159,446,1368,584,584,0,784,774,10,"POLYGON ((-122.393287 37.778427, -122.393537 3..."
189,2720913.0,123838689.0,075,017902,G5020,179.02,Census Tract 179.02,-122.4197010,S,+37.8619483,...,297,187,629,0,0,0,629,610,19,"POLYGON ((-122.424227 37.85045, -122.422475 37..."
190,903361.0,0.0,075,017700,G5020,177,Census Tract 177,-122.4124868,S,+37.7680392,...,89,294,653,157,157,0,496,487,9,"POLYGON ((-122.415561 37.773101, -122.415002 3..."
191,445726.0,0.0,075,020100,G5020,201,Census Tract 201,-122.4200011,S,+37.7686074,...,412,645,2702,634,634,0,2068,1535,533,"POLYGON ((-122.42214 37.767531, -122.422199 37..."
192,631206.0,0.0,075,017601,G5020,176.01,Census Tract 176.01,-122.4107241,S,+37.7794338,...,935,904,3438,406,406,0,3032,2228,804,"POLYGON ((-122.407159 37.779739, -122.407691 3..."
193,469526.0,0.0,075,017000,G5020,170,Census Tract 170,-122.4394975,S,+37.7648874,...,57,806,2114,1235,1235,0,879,879,0,"POLYGON ((-122.442575 37.765928, -122.442361 3..."
194,294192.0,0.0,075,016900,G5020,169,Census Tract 169,-122.4324782,S,+37.7670961,...,250,839,1699,418,418,0,1281,1272,9,"POLYGON ((-122.426948 37.769175, -122.427462 3..."
195,490693.0,0.0,075,016700,G5020,167,Census Tract 167,-122.4377358,S,+37.7703481,...,216,1386,2348,704,704,0,1644,1632,12,"POLYGON ((-122.439301 37.768166, -122.440137 3..."
196,343168.0,0.0,075,016600,G5020,166,Census Tract 166,-122.4474539,S,+37.7704942,...,570,1426,2534,420,420,0,2114,2100,14,"POLYGON ((-122.440546 37.771779, -122.440358 3..."

In [47]:
features.iloc[:,13:22] # year buit

,Estimate_1,Estimate_2,Estimate_3,Estimate_4,Estimate_5,Estimate_6,Estimate_7,Estimate_8,Estimate_9
0,0,37,56,132,248,164,84,42,1770
1,2,83,46,91,41,40,148,163,1354
2,0,0,283,95,112,161,122,61,1323
3,0,141,321,673,691,342,208,173,409
4,0,147,136,440,172,412,29,60,368
5,0,160,663,518,297,357,98,44,223
6,18,259,122,51,301,274,413,374,934
7,19,0,50,28,111,155,149,185,654
8,0,65,220,505,486,394,155,150,525
9,0,16,48,106,445,164,349,260,1681
10,0,19,9,29,39,66,12,55,804
11,0,44,178,155,334,172,210,143,1328
12,0,49,469,374,166,125,57,57,480
13,0,0,8,16,100,344,81,138,1154
14,0,65,18,8,178,134,102,137,1611
15,10,58,35,52,53,53,66,64,1709
16,0,0,31,116,181,274,177,161,1685
17,0,21,35,138,231,177,280,84,1743
18,0,0,0,0,0,0,0,0,0
19,0,11,131,57,54,240,260,278,1611
20,0,50,136,69,63,31,168,125,1618
21,0,13,22,44,31,14,72,138,2037
22,15,96,107,42,105,60,125,14,2224
23,0,12,0,24,24,6,101,95,486
24,0,21,38,105,87,32,21,8,947
25,0,5,48,121,47,69,70,62,1238
26,0,58,60,30,62,426,204,49,1485
27,0,150,134,154,99,55,237,305,2047
28,0,100,11,219,221,284,198,141,1554
29,0,59,49,173,29,146,59,101,2314
...,...,...,...,...,...,...,...,...,...
167,0,106,8,21,113,142,79,44,1120
168,0,26,47,57,21,43,91,24,1238
169,0,306,232,30,59,47,113,78,953
170,0,29,82,86,20,70,79,70,636
171,13,369,119,37,20,0,50,0,259
172,0,76,0,55,87,122,245,149,1208
173,0,35,61,173,660,476,268,49,289
174,15,14,40,136,823,458,189,220,347
175,0,18,116,43,259,144,295,93,1746
176,12,86,8,30,44,248,84,141,1146
177,0,26,46,61,208,88,83,43,726
178,0,126,12,31,95,270,92,98,820
179,0,54,50,82,105,93,93,69,1473
180,0,10,53,84,74,204,189,69,1521
181,56,0,100,41,108,97,64,106,1343
182,0,175,123,65,148,305,92,84,1718
183,12,68,134,77,106,131,199,84,2041
184,0,27,49,50,302,198,208,135,1872
185,0,16,13,36,21,98,75,49,1102
186,0,101,74,98,144,219,84,132,964
187,0,348,117,420,90,159,305,115,1903
188,0,893,255,0,11,39,50,52,235
189,0,11,41,54,313,194,85,43,139
190,0,112,76,7,30,14,150,59,380
191,0,483,375,171,76,126,374,215,1219
192,68,1286,597,73,119,168,246,266,1703
193,0,0,33,156,261,223,274,98,1341
194,0,10,46,67,170,141,74,115,1161
195,0,21,130,109,85,101,71,126,1886
196,0,11,13,170,48,112,61,149,2138

In [52]:
name.columns[14::].map(lambda x:'year' in x).values

array([True, True, True, True, True, True, True, True, True, True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False], dtype=object)

In [48]:
name.iloc[:,15:25].head(2)# year built

,Estimate; Total: - Built 2010 or later_year,Estimate; Total: - Built 2000 to 2009_year,Estimate; Total: - Built 1990 to 1999_year,Estimate; Total: - Built 1980 to 1989_year,Estimate; Total: - Built 1970 to 1979_year,Estimate; Total: - Built 1960 to 1969_year,Estimate; Total: - Built 1950 to 1959_year,Estimate; Total: - Built 1940 to 1949_year,Estimate; Total: - Built 1939 or earlier_year,Estimate; Total:_rent
0,0.0,37.0,56.0,132.0,248.0,164.0,84.0,42.0,1770.0,1855.0
1,2.0,83.0,46.0,91.0,41.0,40.0,148.0,163.0,1354.0,1539.0

In [146]:
features.columns

Index([   u'aland10',   u'awater10', u'countyfp10',  u'tractce10',
          u'mtfcc10',     u'name10', u'namelsad10', u'intptlon10',
       u'funcstat10', u'intptlat10',  u'statefp10',    u'geoid10',
        u'Estimate;', u'Estimate_1', u'Estimate_2', u'Estimate_3',
       u'Estimate_4', u'Estimate_5', u'Estimate_6', u'Estimate_7',
       u'Estimate_8', u'Estimate_9', u'Estimate10', u'Estimate11',
       u'Estimate12', u'Estimate13', u'Estimate14', u'Estimate15',
       u'Estimate16', u'Estimate17', u'Estimate18', u'Estimate19',
       u'Estimate20', u'Estimate21', u'Estimate22', u'Estimate23',
       u'Estimate24', u'Estimate25', u'Estimate26', u'Estimate27',
       u'Estimate28', u'Estimate29', u'Estimate30', u'Estimate31',
       u'Estimate32', u'Estimate33', u'Estimate34', u'Estimate35',
       u'Estimate36', u'Estimate37', u'Estimate38', u'Estimate39',
       u'Estimate40', u'Estimate41', u'Estimate42', u'Estimate43',
       u'Estimate44', u'Estimate45', u'Estimate46', u'Estimate47',
       u'Estimate48', u'Estimate49', u'Estimate50', u'Estimate51',
       u'Estimate52', u'Estimate53', u'Estimate54', u'Estimate55',
       u'Estimate56', u'Estimate57', u'Estimate58', u'Estimate59',
       u'Estimate60', u'Estimate61', u'Estimate62', u'Estimate63',
       u'Estimate64', u'Estimate65', u'Estimate66', u'Estimate67',
       u'Estimate68', u'Estimate69', u'Estimate70', u'Estimate71',
         u'geometry'],
      dtype='object')

In [50]:
sfshp = gpd.GeoDataFrame.from_file('SF_grid_features/SF_gird_features.shp')
sfshp

,FID,meanaland1,meanawater,meanEstima,meanEsti_1,meanEsti_2,meanEsti_3,meanEsti_4,meanEsti_5,meanEsti_6,...,meanEsti64,meanEsti65,meanEsti66,meanEsti67,meanEsti68,meanEsti69,meanEsti70,meanEsti71,count,geometry
0,0,6.108838e+06,2.031402e+07,1280.00000,0.0,0.00000,7.00000,0.00000,218.00000,272.00000,...,891.00000,1092.00000,0.00000,0.00000,0.00000,1092.00000,1050.00000,42.00000,1.0,"POLYGON ((-122.51364836 37.811165, -122.509148..."
1,1,3.637716e+06,1.220504e+07,2041.00000,0.0,38.50000,55.50000,113.00000,161.00000,306.50000,...,801.50000,1872.50000,681.00000,681.00000,0.00000,1191.50000,1147.50000,44.00000,2.0,"POLYGON ((-122.51364836 37.806665, -122.509148..."
2,2,3.637716e+06,1.220504e+07,2041.00000,0.0,38.50000,55.50000,113.00000,161.00000,306.50000,...,801.50000,1872.50000,681.00000,681.00000,0.00000,1191.50000,1147.50000,44.00000,2.0,"POLYGON ((-122.51364836 37.802165, -122.509148..."
3,3,1.166594e+06,4.096057e+06,2802.00000,0.0,77.00000,104.00000,226.00000,104.00000,341.00000,...,712.00000,2653.00000,1362.00000,1362.00000,0.00000,1291.00000,1245.00000,46.00000,1.0,"POLYGON ((-122.51364836 37.797665, -122.509148..."
4,4,1.094580e+06,2.437548e+06,1446.50000,0.0,43.50000,52.00000,113.00000,52.00000,175.00000,...,373.00000,1372.00000,700.00000,700.00000,0.00000,672.00000,649.00000,23.00000,2.0,"POLYGON ((-122.51364836 37.793165, -122.509148..."
5,5,1.094580e+06,2.437548e+06,1446.50000,0.0,43.50000,52.00000,113.00000,52.00000,175.00000,...,373.00000,1372.00000,700.00000,700.00000,0.00000,672.00000,649.00000,23.00000,2.0,"POLYGON ((-122.51364836 37.788665, -122.509148..."
6,6,8.623000e+05,1.625032e+06,1514.00000,0.0,37.33333,38.66667,101.00000,70.00000,157.00000,...,400.66667,1436.33333,734.00000,734.00000,0.00000,702.33333,687.00000,15.33333,3.0,"POLYGON ((-122.51364836 37.784165, -122.509148..."
7,7,7.821665e+05,2.048028e+06,2225.50000,0.0,51.00000,58.00000,151.50000,105.00000,231.00000,...,584.00000,2109.00000,1082.00000,1082.00000,0.00000,1027.00000,1004.00000,23.00000,2.0,"POLYGON ((-122.51364836 37.779665, -122.509148..."
8,8,2.755932e+06,2.252717e+06,1414.50000,0.0,38.50000,52.00000,113.00000,52.00000,176.50000,...,369.50000,1340.00000,681.00000,681.00000,0.00000,659.00000,636.00000,23.00000,2.0,"POLYGON ((-122.51364836 37.775165, -122.509148..."
9,9,4.345271e+06,4.093770e+05,27.00000,0.0,0.00000,0.00000,0.00000,0.00000,12.00000,...,27.00000,27.00000,0.00000,0.00000,0.00000,27.00000,27.00000,0.00000,1.0,"POLYGON ((-122.51364836 37.770665, -122.509148..."
10,10,1.885545e+06,3.464760e+05,1296.66667,0.0,34.00000,38.66667,22.66667,135.66667,154.33333,...,325.00000,1190.33333,591.33333,580.66667,10.66667,599.00000,599.00000,0.00000,3.0,"POLYGON ((-122.51364836 37.766165, -122.509148..."
11,11,6.556820e+05,3.150255e+05,1931.50000,0.0,51.00000,58.00000,34.00000,203.50000,225.50000,...,474.00000,1772.00000,887.00000,871.00000,16.00000,885.00000,885.00000,0.00000,2.0,"POLYGON ((-122.51364836 37.761665, -122.509148..."
12,12,9.388890e+05,6.300510e+05,1980.00000,0.0,67.00000,49.00000,59.00000,211.00000,173.00000,...,332.00000,1811.00000,1118.00000,1096.00000,22.00000,693.00000,693.00000,0.00000,1.0,"POLYGON ((-122.51364836 37.757165, -122.509148..."
13,13,9.866310e+05,5.938465e+05,2199.50000,0.0,33.50000,45.50000,38.00000,178.00000,187.00000,...,296.50000,2017.50000,1228.00000,1212.50000,15.50000,789.50000,789.50000,0.00000,2.0,"POLYGON ((-122.51364836 37.752665, -122.509148..."
14,14,5.171865e+05,3.574841e+07,1209.50000,0.0,0.00000,21.00000,8.50000,72.50000,100.50000,...,130.50000,1112.00000,669.00000,664.50000,4.50000,443.00000,443.00000,0.00000,2.0,"POLYGON ((-122.51364836 37.748165, -122.509148..."
15,15,5.171865e+05,3.574841e+07,1209.50000,0.0,0.00000,21.00000,8.50000,72.50000,100.50000,...,130.50000,1112.00000,669.00000,664.50000,4.50000,443.00000,443.00000,0.00000,2.0,"POLYGON ((-122.51364836 37.743665, -122.509148..."
16,16,1.810126e+06,2.463908e+07,1240.66667,0.0,46.66667,44.33333,29.00000,323.00000,95.66667,...,308.66667,1166.66667,514.66667,511.66667,3.00000,652.00000,615.66667,36.33333,3.0,"POLYGON ((-122.51364836 37.739165, -122.509148..."
17,17,2.198002e+06,3.667979e+07,651.50000,0.0,70.00000,45.50000,35.00000,412.00000,43.00000,...,332.50000,638.00000,103.00000,103.00000,0.00000,535.00000,480.50000,54.50000,2.0,"POLYGON ((-122.51364836 37.734665, -122.509148..."
18,18,2.198002e+06,3.667979e+07,651.50000,0.0,70.00000,45.50000,35.00000,412.00000,43.00000,...,332.50000,638.00000,103.00000,103.00000,0.00000,535.00000,480.50000,54.50000,2.0,"POLYGON ((-122.51364836 37.730165, -122.509148..."
19,19,2.198002e+06,3.667979e+07,651.50000,0.0,70.00000,45.50000,35.00000,412.00000,43.00000,...,332.50000,638.00000,103.00000,103.00000,0.00000,535.00000,480.50000,54.50000,2.0,"POLYGON ((-122.51364836 37.725665, -122.509148..."
20,20,2.198002e+06,3.667979e+07,651.50000,0.0,70.00000,45.50000,35.00000,412.00000,43.00000,...,332.50000,638.00000,103.00000,103.00000,0.00000,535.00000,480.50000,54.50000,2.0,"POLYGON ((-122.51364836 37.721165, -122.509148..."
21,21,2.198002e+06,3.667979e+07,651.50000,0.0,70.00000,45.50000,35.00000,412.00000,43.00000,...,332.50000,638.00000,103.00000,103.00000,0.00000,535.00000,480.50000,54.50000,2.0,"POLYGON ((-122.51364836 37.716665, -122.509148..."
22,22,0.000000e+00,7.093918e+07,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.0,"POLYGON ((-122.51364836 37.712165, -122.509148..."
23,23,6.108838e+06,2.031402e+07,1280.00000,0.0,0.00000,7.00000,0.00000,218.00000,272.00000,...,891.00000,1092.00000,0.00000,0.00000,0.00000,1092.00000,1050.00000,42.00000,1.0,"POLYGON ((-122.50914836 37.811165, -122.504648..."
24,24,6.108838e+06,2.031402e+07,1280.00000,0.0,0.00000,7.00000,0.00000,218.00000,272.00000,...,891.00000,1092.00000,0.00000,0.00000,0.00000,1092.00000,1050.00000,42.00000,1.0,"POLYGON ((-122.50914836 37.806665, -122.504648..."
25,25,3.637716e+06,1.220504e+07,2041.00000,0.0,38.50000,55.50000,113.00000,161.00000,306.50000,...,801.50000,1872.50000,681.00000,681.00000,0.00000,1191.50000,1147.50000,44.00000,2.0,"POLYGON ((-122.50914836 37.802165, -122.504648..."
26,26,1.166594e+06,4.096057e+06,2802.00000,0.0,77.00000,104.00000,226.00000,104.00000,341.00000,...,712.00000,2653.00000,1362.00000,1362.00000,0.00000,1291.00000,1245.00000,46.00000,1.0,"POLYGON ((-122.50914836 37.797665, -122.504648..."
27,27,1.094580e+06,2.437548e+06,1446.50000,0.0,43.50000,52.00000,113.00000,52.00000,175.00000,...,373.00000,1372.00000,700.00000,700.00000,0.00000,672.00000,649.00000,23.00000,2.0,"POLYGON ((-122.50914836 37.793165, -122.504648..."
28,28,1.022567e+06,7.790380e+05,91.00000,0.0,10.00000,0.00000,0.00000,0.00000,9.00000,...,34.00000,91.00000,38.00000,38.00000,0.00000,53.00000,53.00000,0.00000,1.0,"POLYGON ((-122.50914836 37.788665, -122.504648..."
29,29,8.623000e+05,1.625032e+06,1514.00000,0.0,37.33333,38.66667,101.00000,70.00000,157.00000,...,400.66667,1436.33333,734.00000,734.00000,0.00000,702.33333,687.00000,15.33333,3.0,"POLYGON ((-122.50914836 37.784165, -122.504648..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752,752,2.036284e+06,4.195160e+07,806.33333,0.0,21.00000,39.66667,105.66667,164.66667,151.66667,...,97.33333,657.00000,83.66667,75.00000,8.66667,573.33333,554.00000,19.33333,3.0,"POLYGON ((-122.3696483600002 37.739165, -122.3..."
753,753,2.426604e+06,6.292740e+07,517.50000,0.0,5.50000,20.50000,92.00000,156.50000,101.50000,...,93.50000,373.00000,45.00000,45.00000,0.00000,328.00000,318.50000,9.50000,2.0,"POLYGON ((-122.3696483600002 37.734665, -122.3..."
754,754,2.132295e+06,2.016109e+06,155.00000,0.0,0.00000,0.00000,130.00000,0.00000,9.00000,...,0.00000,117.00000,90.00000,90.00000,0.00000,27.00000,27.00000,0.00000,1.0,"POLYGON ((-122.3696483600002 37.730165, -122.3..."
755,755,2.132295e+06,2.016109e+06,155.00000,0.0,0.00000,0.00000,130.00000,0.00000,9.00000,...,0.00000,117.00000,90.00000,90.00000,0.00000,27.00000,27.00000,0.00000,1.0,"POLYGON ((-122.3696483600002 37.725665, -122.3..."
756,756,2.132295e+06,2.016109e+06,155.00000,0.0,0.00000,0.00000,130.00000,0.00000,9.00000,...,0.00000,117.00000,90.00000,90.00000,0.00000,27.00000,27.00000,0.00000,1.0,"POLYGON ((-122.3696483600002 37.721165, -122.3..."
757,757,2.150656e+06,1.440584e+06,780.50000,26.0,298.00000,92.50000,89.50000,44.00000,48.00000,...,132.00000,715.50000,478.00000,462.50000,15.50000,237.50000,231.00000,6.50000,2.0,"POLYGON ((-122.3696483600002 37.716665, -122.3..."
758,758,2.150656e+06,1.440584e+06,780.50000,26.0,298.00000,92.50000,89.50000,44.00000,48.00000,...,132.00000,715.50000,478.00000,462.50000,15.50000,237.50000,231.00000,6.50000,2.0,"POLYGON ((-122.3696483600002 37.712165, -122.3..."
759,759,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.811165, -122.3..."
760,760,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.806665, -122.3..."
761,761,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.802165, -122.3..."
762,762,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.797665, -122.3..."
763,763,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.793165, -122.3..."
764,764,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.788665, -122.3..."
765,765,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.784165, -122.3..."
766,766,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.779665, -122.3..."
767,767,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.775165, -122.3..."
768,768,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.770665, -122.3..."
769,769,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.766165, -122.3..."
770,770,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.761665, -122.3..."
771,771,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.757165, -122.3..."
772,772,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.752665, -122.3..."
773,773,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.748165, -122.3..."
774,774,2.720913e+06,1.238387e+08,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,...,187.00000,629.00000,0.00000,0.00000,0.00000,629.00000,610.00000,19.00000,1.0,"POLYGON ((-122.3651483600002 37.743665, -122.3..."
775,775,2.426604e+06,6.292740e+07,517.50000,0.0,5.50000,20.50000,92.00000,156.50000,101.50000,...,93.50000,373.00000,45.00000,45.00000,0.00000,328.00000,318.50000,9.50000,2.0,"POLYGON ((-122.3651483600002 37.739165, -122.3..."
776,776,2.426604e+06,6.292740e+07,517.50000,0.0,5.50000,20.50000,92.00000,156.50000,101.50000,...,93.50000,373.00000,45.00000,45.00000,0.00000,328.00000,318.50000,9.50000,2.0,"POLYGON ((-122.3651483600002 37.734665, -122.3..."
777,777,2.132295e+06,2.016109e+06,155.00000,0.0,0.00000,0.00000,130.00000,0.00000,9.00000,...,0.00000,117.00000,90.00000,90.00000,0.00000,27.00000,27.00000,0.00000,1.0,"POLYGON ((-122.3651483600002 37.730165, -122.3..."
778,778,2.132295e+06,2.016109e+06,155.00000,0.0,0.00000,0.00000,130.00000,0.00000,9.00000,...,0.00000,117.00000,90.00000,90.00000,0.00000,27.00000,27.00000,0.00000,1.0,"POLYGON ((-122.3651483600002 37.725665, -122.3..."
779,779,2.132295e+06,2.016109e+06,155.00000,0.0,0.00000,0.00000,130.00000,0.00000,9.00000,...,0.00000,117.00000,90.00000,90.00000,0.00000,27.00000,27.00000,0.00000,1.0,"POLYGON ((-122.3651483600002 37.721165, -122.3..."
780,780,2.132295e+06,2.016109e+06,155.00000,0.0,0.00000,0.00000,130.00000,0.00000,9.00000,...,0.00000,117.00000,90.00000,90.00000,0.00000,27.00000,27.00000,0.00000,1.0,"POLYGON ((-122.3651483600002 37.716665, -122.3..."
781,781,2.150656e+06,1.440584e+06,780.50000,26.0,298.00000,92.50000,89.50000,44.00000,48.00000,...,132.00000,715.50000,478.00000,462.50000,15.50000,237.50000,231.00000,6.50000,2.0,"POLYGON ((-122.3651483600002 37.712165, -122.3..."

In [53]:
sfshp.iloc[:,4:13].head(2)# meanEsti11,meanEsti12 = Estimate; No bedroom:_rent,Estimate; No bedroom: - With cash rent:_rent

,meanEsti_1,meanEsti_2,meanEsti_3,meanEsti_4,meanEsti_5,meanEsti_6,meanEsti_7,meanEsti_8,meanEsti_9
0,0.0,0.0,7.0,0.0,218.0,272.0,196.0,214.0,373.0
1,0.0,38.5,55.5,113.0,161.0,306.5,241.5,302.0,823.0

In [54]:
sfshp_ano_features = sfshp.iloc[:,4:13]

In [55]:
sfshp_ano_features['income'] = sfshp.iloc[:,56:57]

In [57]:
sfshp.iloc[:,3:-2].loc[:,name.columns[14::].map(lambda x:'year' in x).values]

,meanEstima,meanEsti_1,meanEsti_2,meanEsti_3,meanEsti_4,meanEsti_5,meanEsti_6,meanEsti_7,meanEsti_8,meanEsti_9
0,1280.00000,0.0,0.00000,7.00000,0.00000,218.00000,272.00000,196.00000,214.00000,373.00000
1,2041.00000,0.0,38.50000,55.50000,113.00000,161.00000,306.50000,241.50000,302.00000,823.00000
2,2041.00000,0.0,38.50000,55.50000,113.00000,161.00000,306.50000,241.50000,302.00000,823.00000
3,2802.00000,0.0,77.00000,104.00000,226.00000,104.00000,341.00000,287.00000,390.00000,1273.00000
4,1446.50000,0.0,43.50000,52.00000,113.00000,52.00000,175.00000,145.00000,213.50000,652.50000
5,1446.50000,0.0,43.50000,52.00000,113.00000,52.00000,175.00000,145.00000,213.50000,652.50000
6,1514.00000,0.0,37.33333,38.66667,101.00000,70.00000,157.00000,141.00000,263.33333,705.66667
7,2225.50000,0.0,51.00000,58.00000,151.50000,105.00000,231.00000,210.00000,376.50000,1042.50000
8,1414.50000,0.0,38.50000,52.00000,113.00000,52.00000,176.50000,143.50000,195.00000,644.00000
9,27.00000,0.0,0.00000,0.00000,0.00000,0.00000,12.00000,0.00000,0.00000,15.00000
10,1296.66667,0.0,34.00000,38.66667,22.66667,135.66667,154.33333,217.66667,348.66667,345.00000
11,1931.50000,0.0,51.00000,58.00000,34.00000,203.50000,225.50000,326.50000,523.00000,510.00000
12,1980.00000,0.0,67.00000,49.00000,59.00000,211.00000,173.00000,298.00000,740.00000,383.00000
13,2199.50000,0.0,33.50000,45.50000,38.00000,178.00000,187.00000,389.50000,920.50000,407.50000
14,1209.50000,0.0,0.00000,21.00000,8.50000,72.50000,100.50000,240.50000,550.50000,216.00000
15,1209.50000,0.0,0.00000,21.00000,8.50000,72.50000,100.50000,240.50000,550.50000,216.00000
16,1240.66667,0.0,46.66667,44.33333,29.00000,323.00000,95.66667,184.66667,367.00000,150.33333
17,651.50000,0.0,70.00000,45.50000,35.00000,412.00000,43.00000,36.50000,0.00000,9.50000
18,651.50000,0.0,70.00000,45.50000,35.00000,412.00000,43.00000,36.50000,0.00000,9.50000
19,651.50000,0.0,70.00000,45.50000,35.00000,412.00000,43.00000,36.50000,0.00000,9.50000
20,651.50000,0.0,70.00000,45.50000,35.00000,412.00000,43.00000,36.50000,0.00000,9.50000
21,651.50000,0.0,70.00000,45.50000,35.00000,412.00000,43.00000,36.50000,0.00000,9.50000
22,0.00000,0.0,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
23,1280.00000,0.0,0.00000,7.00000,0.00000,218.00000,272.00000,196.00000,214.00000,373.00000
24,1280.00000,0.0,0.00000,7.00000,0.00000,218.00000,272.00000,196.00000,214.00000,373.00000
25,2041.00000,0.0,38.50000,55.50000,113.00000,161.00000,306.50000,241.50000,302.00000,823.00000
26,2802.00000,0.0,77.00000,104.00000,226.00000,104.00000,341.00000,287.00000,390.00000,1273.00000
27,1446.50000,0.0,43.50000,52.00000,113.00000,52.00000,175.00000,145.00000,213.50000,652.50000
28,91.00000,0.0,10.00000,0.00000,0.00000,0.00000,9.00000,3.00000,37.00000,32.00000
29,1514.00000,0.0,37.33333,38.66667,101.00000,70.00000,157.00000,141.00000,263.33333,705.66667
...,...,...,...,...,...,...,...,...,...,...
752,806.33333,0.0,21.00000,39.66667,105.66667,164.66667,151.66667,97.33333,122.00000,104.33333
753,517.50000,0.0,5.50000,20.50000,92.00000,156.50000,101.50000,45.00000,27.00000,69.50000
754,155.00000,0.0,0.00000,0.00000,130.00000,0.00000,9.00000,5.00000,11.00000,0.00000
755,155.00000,0.0,0.00000,0.00000,130.00000,0.00000,9.00000,5.00000,11.00000,0.00000
756,155.00000,0.0,0.00000,0.00000,130.00000,0.00000,9.00000,5.00000,11.00000,0.00000
757,780.50000,26.0,298.00000,92.50000,89.50000,44.00000,48.00000,6.00000,99.50000,77.00000
758,780.50000,26.0,298.00000,92.50000,89.50000,44.00000,48.00000,6.00000,99.50000,77.00000
759,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
760,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
761,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
762,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
763,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
764,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
765,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
766,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
767,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
768,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
769,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
770,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
771,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
772,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
773,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
774,880.00000,0.0,11.00000,41.00000,54.00000,313.00000,194.00000,85.00000,43.00000,139.00000
775,517.50000,0.0,5.50000,20.50000,92.00000,156.50000,101.50000,45.00000,27.00000,69.50000
776,517.50000,0.0,5.50000,20.50000,92.00000,156.50000,101.50000,45.00000,27.00000,69.50000
777,155.00000,0.0,0.00000,0.00000,130.00000,0.00000,9.00000,5.00000,11.00000,0.00000
778,155.00000,0.0,0.00000,0.00000,130.00000,0.00000,9.00000,5.00000,11.00000,0.00000
779,155.00000,0.0,0.00000,0.00000,130.00000,0.00000,9.00000,5.00000,11.00000,0.00000
780,155.00000,0.0,0.00000,0.00000,130.00000,0.00000,9.00000,5.00000,11.00000,0.00000
781,780.50000,26.0,298.00000,92.50000,89.50000,44.00000,48.00000,6.00000,99.50000,77.00000

In [58]:
name.columns.map(lambda x: 'year' in x)

Index([False, False, False, False, False, False, False, False, False, False,
       False, False, False, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False],
      dtype='object')

## anomaly detection

In [59]:
sfshp_ano_features.head()

,meanEsti_1,meanEsti_2,meanEsti_3,meanEsti_4,meanEsti_5,meanEsti_6,meanEsti_7,meanEsti_8,meanEsti_9,income
0,0.0,0.0,7.0,0.0,218.0,272.0,196.0,214.0,373.0,140556.0
1,0.0,38.5,55.5,113.0,161.0,306.5,241.5,302.0,823.0,111806.0
2,0.0,38.5,55.5,113.0,161.0,306.5,241.5,302.0,823.0,111806.0
3,0.0,77.0,104.0,226.0,104.0,341.0,287.0,390.0,1273.0,83056.0
4,0.0,43.5,52.0,113.0,52.0,175.0,145.0,213.5,652.5,76480.0

In [61]:
sfshp_ano_features['FID'] = sfshp.FID

In [62]:
ADdf = addf_fid.merge(sfshp_ano_features,on='FID',how='inner')

In [63]:
ADdf.columns = ['FID','Num','Built10orlater','Built00to09','Built90to99','Built80to89','Built70to79','Built60to69','Built50to59','Built40to49','Built39orEarlier','INCOME']

In [64]:
ADdf.head()

,FID,Num,Built10orlater,Built00to09,Built90to99,Built80to89,Built70to79,Built60to69,Built50to59,Built40to49,Built39orEarlier,INCOME
0,7,3,0.0,51.00000,58.00000,151.50000,105.00000,231.00000,210.00000,376.50000,1042.50000,83036.50000
1,8,13,0.0,38.50000,52.00000,113.00000,52.00000,176.50000,143.50000,195.00000,644.00000,89395.46907
2,9,1,0.0,0.00000,0.00000,0.00000,0.00000,12.00000,0.00000,0.00000,15.00000,95734.93814
3,10,3,0.0,34.00000,38.66667,22.66667,135.66667,154.33333,217.66667,348.66667,345.00000,81661.31271
4,29,2,0.0,37.33333,38.66667,101.00000,70.00000,157.00000,141.00000,263.33333,705.66667,78659.00000

In [65]:
ADdf.columns

Index([u'FID', u'Num', u'Built10orlater', u'Built00to09', u'Built90to99',
       u'Built80to89', u'Built70to79', u'Built60to69', u'Built50to59',
       u'Built40to49', u'Built39orEarlier', u'INCOME'],
      dtype='object')

### LocalOutlierFactor

In [67]:
ADdf.head(2)

,FID,Num,Built10orlater,Built00to09,Built90to99,Built80to89,Built70to79,Built60to69,Built50to59,Built40to49,Built39orEarlier,INCOME
0,7,3,0.0,51.0,58.0,151.5,105.0,231.0,210.0,376.5,1042.5,83036.50000
1,8,13,0.0,38.5,52.0,113.0,52.0,176.5,143.5,195.0,644.0,89395.46907

In [68]:
X = ADdf.iloc[:,1:]

In [69]:
X.head(2)

,Num,Built10orlater,Built00to09,Built90to99,Built80to89,Built70to79,Built60to69,Built50to59,Built40to49,Built39orEarlier,INCOME
0,3,0.0,51.0,58.0,151.5,105.0,231.0,210.0,376.5,1042.5,83036.50000
1,13,0.0,38.5,52.0,113.0,52.0,176.5,143.5,195.0,644.0,89395.46907

In [70]:
from sklearn.neighbors import LocalOutlierFactor
clf = LocalOutlierFactor(n_neighbors=20)
clf.fit_predict(X)

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,
        1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1, -1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1, -1,  1,  1,  1,  1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
       -1,  1,  1,  1,  1,  1, -1,  1, -1,  1,  1, -1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1,  1, -1,  1, -1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,
        1,  1,  1,  1,  1,  1, -1, -1,  1,  1,  1,  1, -1,  1, -1, -1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1, -1,  1,  1,  1, -1,
        1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1, -1,  1,
        1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,  1, -1, -1, -1,
       -1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1,  1, -1,  1,  1,  1,  1,  1, -1,  1,  1,  1,  1,  1, -1,  1,
        1,  1,  1, -1,  1,  1,  1,  1])

In [71]:
score = pd.DataFrame(clf._decision_function(X))
score = pd.concat((ADdf.iloc[:,0],score), axis = 1)
score.columns = ['FID','Anomaly score']

In [72]:
score

     FID  Anomaly score
0      7      -1.013337
1      8      -0.976877
2      9      -0.988370
3     10      -0.985805
4     29      -1.023840
5     30      -1.013337
6     31      -0.976877
7     33      -0.993047
8     34      -0.956790
9     35      -1.003499
10    36      -0.983458
11    37      -1.003745
12    38      -1.003745
13    39      -0.997850
14    52      -1.008479
15    53      -1.013337
16    54      -0.976877
17    56      -1.012618
18    57      -1.000908
19    58      -0.979316
20    59      -1.018911
21    60      -1.023633
22    61      -1.023633
23    62      -1.008460
24    63      -1.032274
25    64      -1.032274
26    65      -1.032273
27    74      -1.084088
28    75      -1.002897
29    76      -1.008988
..   ...            ...
522  640      -1.023274
523  641      -0.965399
524  642      -0.965399
525  643      -0.993994
526  652      -1.352543
527  653      -1.032643
528  654      -1.032644
529  655      -1.043696
530  656      -1.252056
531  657      -0.986847
532  658      -0.986847
533  659      -0.986586
534  660      -1.135295
535  661      -0.953798
536  662      -1.306447
537  663      -1.125434
538  664      -0.974357
539  665      -0.965399
540  682      -0.986847
541  683      -1.093462
542  684      -1.756385
543  685      -0.998139
544  687      -1.008479
545  705      -1.004450
546  706      -0.979055
547  707      -2.082862
548  708      -0.937471
549  731      -0.983862
550  754      -0.987867
551  756      -0.987873

[552 rows x 2 columns]

In [73]:
score.sort_values(by='Anomaly score')[:10]

     FID  Anomaly score
321  425      -3.895669
40    97      -2.415838
196  293      -2.319325
322  426      -2.305691
270  372      -2.302885
397  503      -2.266459
68   143      -2.240797
248  349      -2.189454
547  707      -2.082862
375  481      -2.040166

In [74]:
#TOP 5 anomalous FID
ADdf[(ADdf['FID'] == 425) | 
     (ADdf['FID'] == 97)|
     (ADdf['FID'] == 293)|
     (ADdf['FID'] == 426)|
     (ADdf['FID'] == 372)
#      (ADdf['FID'] == 503)|
#      (ADdf['FID'] == 143)|
#      (ADdf['FID'] == 349)|
#      (ADdf['FID'] == 707)|
#      (ADdf['FID'] == 481)
    ]

,FID,Num,Built10orlater,Built00to09,Built90to99,Built80to89,Built70to79,Built60to69,Built50to59,Built40to49,Built39orEarlier,INCOME
40,97,1,0.00,22.5,2.00,2.50,13.0,18.50,13.5,81.0,401.00,142483.50
196,293,4,4.25,14.5,55.75,77.75,79.5,162.75,374.0,304.0,1156.75,142350.25
270,372,13,0.00,32.5,24.50,62.00,179.5,204.00,139.5,149.0,1648.00,212517.50
321,425,19,0.00,27.0,49.00,50.00,302.0,198.00,208.0,135.0,1872.00,243800.00
322,426,15,0.00,40.5,49.50,66.00,203.5,145.50,150.5,102.0,1672.50,212577.00

In [75]:
ADdf.describe()

,FID,Num,Built10orlater,Built00to09,Built90to99,Built80to89,Built70to79,Built60to69,Built50to59,Built40to49,Built39orEarlier,INCOME
count,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000,552.000000
mean,371.125000,15.436594,3.326475,214.725738,95.931699,102.568931,143.468293,151.863186,194.574435,233.815847,766.009554,104471.567402
std,179.879504,14.855980,7.127712,611.972301,180.888548,148.505917,132.304842,101.320053,130.611302,220.166479,481.167408,37410.335228
min,7.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19816.000000
25%,225.750000,6.000000,0.000000,22.250000,29.000000,39.000000,61.500000,82.187500,110.875000,103.249998,373.000000,76511.125000
50%,377.500000,10.000000,0.000000,44.550000,49.583335,67.625000,102.000000,138.583335,177.750000,172.250000,713.833335,96274.125000
75%,519.250000,21.000000,4.000000,93.000000,89.062500,108.666670,188.874998,201.000000,246.333332,293.499998,1091.550003,134544.083333
max,756.000000,122.000000,52.000000,4011.000000,1734.000000,1371.000000,824.000000,643.000000,920.000000,1425.000000,2089.000000,243800.000000

In [352]:
df_FID = df.groupby(['FID']).count().reset_index()

In [355]:
df_FID = df_FID.iloc[:,:2]

In [356]:
df_FID.head()

   FID  Call Number
0    7            3
1    8           13
2    9            1
3   10            3
4   29            2

## decision tree

In [350]:
len(df_.FID.unique())

533

In [374]:
sfshp1 = sfshp.merge(df_,on='FID',how='inner')

In [379]:
len(sfshp1.FID.unique())

533

In [35]:
sfshp1.shape

(2856, 79)

In [36]:
sfshp1['Row'] = sfshp1['FID']%23 +1
sfshp1['Col'] = sfshp1['FID']/23 +1 
sfshp1['Col'] = sfshp1['Col'].apply(lambda x: int(x))

In [37]:
sfshp1.columns

Index([       u'FID', u'meanaland1', u'meanawater', u'meanEstima',
       u'meanEsti_1', u'meanEsti_2', u'meanEsti_3', u'meanEsti_4',
       u'meanEsti_5', u'meanEsti_6', u'meanEsti_7', u'meanEsti_8',
       u'meanEsti_9', u'meanEsti10', u'meanEsti11', u'meanEsti12',
       u'meanEsti13', u'meanEsti14', u'meanEsti15', u'meanEsti16',
       u'meanEsti17', u'meanEsti18', u'meanEsti19', u'meanEsti20',
       u'meanEsti21', u'meanEsti22', u'meanEsti23', u'meanEsti24',
       u'meanEsti25', u'meanEsti26', u'meanEsti27', u'meanEsti28',
       u'meanEsti29', u'meanEsti30', u'meanEsti31', u'meanEsti32',
       u'meanEsti33', u'meanEsti34', u'meanEsti35', u'meanEsti36',
       u'meanEsti37', u'meanEsti38', u'meanEsti39', u'meanEsti40',
       u'meanEsti41', u'meanEsti42', u'meanEsti43', u'meanEsti44',
       u'meanEsti45', u'meanEsti46', u'meanEsti47', u'meanEsti48',
       u'meanEsti49', u'meanEsti50', u'meanEsti51', u'meanEsti52',
       u'meanEsti53', u'meanEsti54', u'meanEsti55', u'meanEsti56',
       u'meanEsti57', u'meanEsti58', u'meanEsti59', u'meanEsti60',
       u'meanEsti61', u'meanEsti62', u'meanEsti63', u'meanEsti64',
       u'meanEsti65', u'meanEsti66', u'meanEsti67', u'meanEsti68',
       u'meanEsti69', u'meanEsti70', u'meanEsti71',      u'count',
         u'geometry',      u'month',  u'NumEvents',        u'Row',
              u'Col'],
      dtype='object')

In [38]:
sfshp1.drop(['FID','meanaland1','meanawater', 'count', 'geometry'], 
        axis=1, inplace=True)

In [39]:
sfshp1.head()

,meanEstima,meanEsti_1,meanEsti_2,meanEsti_3,meanEsti_4,meanEsti_5,meanEsti_6,meanEsti_7,meanEsti_8,meanEsti_9,...,meanEsti66,meanEsti67,meanEsti68,meanEsti69,meanEsti70,meanEsti71,month,NumEvents,Row,Col
0,2225.5,0.0,51.0,58.0,151.5,105.0,231.0,210.0,376.5,1042.5,...,1082.0,1082.0,0.0,1027.0,1004.0,23.0,4,1,8,1
1,1414.5,0.0,38.5,52.0,113.0,52.0,176.5,143.5,195.0,644.0,...,681.0,681.0,0.0,659.0,636.0,23.0,2,1,9,1
2,1414.5,0.0,38.5,52.0,113.0,52.0,176.5,143.5,195.0,644.0,...,681.0,681.0,0.0,659.0,636.0,23.0,4,1,9,1
3,1414.5,0.0,38.5,52.0,113.0,52.0,176.5,143.5,195.0,644.0,...,681.0,681.0,0.0,659.0,636.0,23.0,6,2,9,1
4,1414.5,0.0,38.5,52.0,113.0,52.0,176.5,143.5,195.0,644.0,...,681.0,681.0,0.0,659.0,636.0,23.0,7,1,9,1

In [40]:
from sklearn.model_selection import train_test_split
# Let's take "found.weapon" as the target variable. 
y=sfshp1.loc[:,"NumEvents"]

# Get the feature space.  We are using only features from before the stop, getting rid of features from during/after the stop like "arrested".
X=pd.concat([sfshp1.loc[:,"meanEsti_1":"month"], sfshp1.loc[:,["Row","Col"]]],axis=1)
#X=pd.concat([sfshp1.loc[:,["Row","Col"]]],axis=1)
#X=pd.concat([sfshp1.loc[:,"season"], sfshp1.loc[:,["Row","Col"]]],axis=1)
# Split data into 70% train, 30% test
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.3, random_state=999)
print X_train.head()

      meanEsti_1  meanEsti_2  meanEsti_3  meanEsti_4  meanEsti_5  meanEsti_6  \
1207         0.0    25.60000    48.80000    64.80000   166.40000   198.00000
2390         0.0   711.33333   310.66667   305.66667   192.66667    65.33333
2522         0.0   217.33333   131.66667   193.33333   130.33333    71.00000
2021         0.0    99.50000   138.25000   169.50000   184.50000   280.25000
166          0.0   140.00000    91.00000    70.00000   824.00000    86.00000

      meanEsti_7  meanEsti_8  meanEsti_9  meanEsti10 ...   meanEsti65  \
1207   116.40000   126.80000  1316.40000  1289.00000 ...   1845.20000
2390    65.00000    56.00000   365.66667  1238.00000 ...   1751.00000
2522    78.33333   162.33333   791.33333   930.66667 ...   1617.33333
2021   219.75000    78.50000  1427.00000  1877.25000 ...   2316.75000
166     73.00000     0.00000    19.00000  1070.00000 ...   1276.00000

      meanEsti66  meanEsti67  meanEsti68  meanEsti69  meanEsti70  meanEsti71  \
1207   556.20000   556.20000         0.0  1289.00000  1276.60000    12.40000
2390   513.00000   513.00000         0.0  1238.00000  1225.00000    13.00000
2522   686.66667   686.66667         0.0   930.66667   929.33333     1.33333
2021   439.50000   435.50000         4.0  1877.25000  1556.00000   321.25000
166    206.00000   206.00000         0.0  1070.00000   961.00000   109.00000

      month  Row  Col
1207     12    5   18
2390     11    8   25
2522     11   12   26
2021      9    2   23
166      10   22    5

[5 rows x 74 columns]

In [41]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

# learn model
#dt=DecisionTreeClassifier(max_depth=10)
dt=DecisionTreeClassifier(max_leaf_nodes=20)
dt.fit(X_train,y_train)
y_pred = dt.predict(X_test)
accuracy_class = metrics.accuracy_score(y_test,y_pred)
error_mean = metrics.mean_squared_error(y_test,y_pred)
print "MSE: ", error_mean

# in sample accuracy
print 'In sample accuracy:',dt.score(X_train,y_train)

# out of sample accuracy
print 'Out of sample accuracy:',dt.score(X_test,y_test)

MSE:  1.42823803967
In sample accuracy: 0.610805402701
Out of sample accuracy: 0.556592765461

In [42]:
# use a single train/test split
OS=[]
for i in range(2,10,1):
    dt = DecisionTreeClassifier(max_depth=i)
    dt.fit(X_train,y_train)
    OS.append(dt.score(X_test,y_test))

In [43]:
OS

[0.59393232205367563,
 0.57992998833138854,
 0.57992998833138854,
 0.59043173862310383,
 0.54375729288214703,
 0.54259043173862309,
 0.52742123687281217,
 0.5250875145857643]

## plot the tree

In [46]:
import io
import pydotplus
import numpy as np
import pandas as pd
import sklearn.datasets as datasets
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import export_graphviz
from IPython.display import Image 

import matplotlib.pyplot as plt
%matplotlib inline

In [44]:
dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [65]:
# Train model
dtree = DecisionTreeRegressor(max_depth=4)
dtree.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=4, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [61]:
import StringIO

In [74]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus
dot_data = StringIO()
export_graphviz(dtree, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())
graph.write_png('DT.png')#save the figure

True